@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        -groups
        - Typography: Headings and Blockquotes
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -groups
        -content
            -hero-mountain
            -bg-hills
            -about
            -main
            -intro-p
            -achievements
            -nav
            -btn
            -Images
            -Images groups
            -footer
                -address
                -bg-primary

            -media
                -groups
                -typography
                -hero-mountain
                -bg-hills
                -header 
                -footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - alignment	 
        - screen reader   
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after,
*:before {
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

html {
    font: 1rem 'EB Garamond', serif;
    text-align: center;
    margin-top: 0;
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/*------ Typography------- */
h1 {
    font: 800 2.2rem/3rem 'Montserrat', sans-serif;
}

h2 {
    margin-top: 2em;
}


/* -----blockquote----- */
blockquote {
    color: #bcbcbc;
    text-align: center;
    border-top: #bcbcbc 1px solid;
    border-bottom: #bcbcbc 1px solid;
    margin: 1em 0;
}

blockquote p:nth-child(2) {
    font-size: 1.2rem;
    color: #000;
}

blockquote > p:first-child {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    margin: .5em 0 0;
}


/*--------------------------------------------------------------
    5.0 - Objects
-------------------------------------------------------------- */

/* ----- Framework ----- */
.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 45%;
    padding-bottom: 1rem;
}

[class*='col-'] {
    padding: .8rem 0 3rem 0;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {

    .wrapper {
        width:80%;
    }

    [class*='col-'] {
        padding: .5rem;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 1024px) {

    .wrapper {
        width:70%;
    }

    [class*='col-'] {
        padding: 1rem;
    }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }

    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }

    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* -----groups----- */
i,
a,
header {
    color: #fff;
}

p a,
#hero-mountains p:first-of-type,
h1,
li {
    text-transform: uppercase;
}

#hero-mountains p:first-of-type {
    font: 2.2rem/3rem 'Montserrat', sans-serif;
    font-weight: 800;
}

h2,
#bg-hills + main nav a {
    font: 600 1rem/.4rem 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #bdbdbd;
    letter-spacing: .2rem;
}

#hills,
#trees,
#hero-mountains p:first-of-type,
h1,
footer ul  {
    margin: 0;
}

main,
h1 {
    padding: 4rem 0;
}

header .row a:hover,
address a:hover {
    text-decoration: solid 1px underline;
    text-underline-offset: .5em;
    margin-bottom: 1em;
}

p, 
#achievements li {
    font-weight: 400;
}

#bg-hills + main nav,
header li:last-child a {
    background-color: #fff;
}

.btn:hover,
body > footer  {
    background-color: #1d6d49;
}

#bg-primary,
.btn {
    background-color: #4e9374;
}

#bg-hills + main nav a,
blockquote footer p {
    font-size: 0.8rem;
}

#bg-hills + main nav a:hover,
header li:last-child a {
    color: #4e9374;
}

#hero-mountains h1,
#achievements .col-md-6,
ul {
    padding: 0;
}

.intro-p .col-center,
#bg-hills main {
    padding-top: 0;
}


/* -----content----- */
/* -----hero-mountains----- */
#hero-mountains span {
    font: italic 2rem EB Garamond, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
}


/* -----bg-hills----- */
#bg-hills + main nav {
    align-self: flex-start;
    position: sticky;
    top: 0;
    z-index: 0;
}

#bg-hills + main nav p {
    color: #1d6d49;
    font-style: italic;
}

#bg-hills + main nav a {
    letter-spacing: 0;
}


/* -----about---- */
#about {
    text-align: left;
}


/* -----intro-p----- */
.intro-p {
    font-size: 1.6rem;
    margin-bottom: 0;
}


/* -----achievements----- */
#achievements li {
    background: url(../img/icon-tree.png) no-repeat;
    padding: 0 0 1rem 1.5rem;
    line-height: 1.4em;
    text-transform: none;
}


/* -----nav----- */
li {
    display: inline-block;
}

a {
    padding: 0 .8rem;
    text-decoration: none;
    font: 600 0.9rem 'Montserrat', sans-serif;
}

header li:last-child a {
    border-radius: 3rem;
    padding: .3rem 1rem;
}


/* -----btn----- */
.btn {
    border-radius: 2rem;
    padding: .5rem 1rem;
}


/* ----- Images----- */
#hero-mountains {
    background: url(../img/hero-mountain.jpg) center center no-repeat;
    padding: 0 0 6rem 0;
}

#bg-hills {
    background: url(../img/bg-hills.jpg) center center no-repeat;
}

#bg-trees {
    background: url(../img/bg-trees.jpg) center center no-repeat;
}

#hills {
    background: url(../img/bg-hills.jpg) center center no-repeat;
}

#trees {
    background: url(../img/bg-trees.jpg) center center no-repeat;
}


/* ----- Images groups----- */
#hero-mountains,
#bg-hills,
#bg-trees,
#hills,
#trees {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#hills,
#trees {
    height: 240px;
}


/* -----footer----- */
/* -----address----- */
address ul {
    padding: 2rem 0;
}

address li {
    display: block;
    padding: 1rem 0;
}


/* -----bg-primary----- */
#bg-primary {
    padding: .5rem 0;
}

#bg-primary i:nth-child(2) {
    margin: 0 1rem;
}


@media screen and (min-width: 768px) {

    /* -----groups----- */
    #hero-mountains ul,
    #bg-hills ul,
    #bg-trees ul {
        margin-top: 2rem;
    }

    #hero-mountains .col-md-5,
    #bg-hills .col-md-5,
    #bg-trees .col-md-5,
    #bg-hills + main nav {
        text-align: left;
    }

    header ul {
        text-align: right;
    }

    #bg-hills + main nav a,
    #bg-hills + main nav {
        padding-left: 0;
    }



    /* -----typography----- */
    h1 {
        padding: 10rem 0;
    }


    /* -----hero-mountains----- */
    #hero-mountains {
        padding: 0 0 12rem 0;
    }

    #hero-mountains p:first-of-type,
    h1 {
        font-size: 6.5rem;
    }

    #hero-mountains span {
        font-size: 4rem;
    }

    #hero-mountains p:first-of-type {
        line-height: 1em;
    }

    /* -----bg-hill----- */
    #bg-hills + main nav li {
        display: block;
        line-height: 2em;
    }

    #bg-hills + main nav {
        width: 30%;
    }


    /* -----header----- */
    header li:last-child a {
        border: #fff 2px solid;
        border-radius: 3rem;
        background-color: transparent;
        color: #fff;
    }
    
    header li:last-child a:hover {
        background-color: #fff;
        color: #4e9374;
        text-decoration: none;
    }


    /* -----footer----- */
    footer li {
        display: inline;
        padding: 0;
    }
}


/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
/* ----- alignment ----- */
.col-center {
    justify-content: center;
 }


 /*-----  screen reader -----  */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}